@charset "UTF-8";
/* 
CSS Document
1307
By Cassandra Morath

vfw project 2
*/
html{
	overflow-y: scroll;
}
@font-face {
font-family: "New Times Roman", Times, serif, Arial, Helvetica, sans-serif, "Comic Sans MS", cursive;
font-weight: normal;
font-style: normal;
}
body {
text-align: center;
margin: 0;
padding: 20px 10px 20px 10px;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 100%;
line-height: normal;
background-color:#CCC;
}
background {
background-color:#999;
background-position:center;
color:#999;
margin:1em;
}
p {
padding:10px;
margin:20px;
text-align:left;
color:#000;
}
a {
color:#006;
}
a:hover {
color: #960;
border-bottom: 1px dashed #cb7d20;
}
li {
list-style-type:none;
}
input[type="text"]{
width:200px;
display:inline-block;
margin-bottom:10px;
background-color:white;
}
textarea {
width:200px;
display:inline-block;
margin-bottom:10px;
background-color:white;
text-align:left;
}
li {
text-align:center;
}
h1 {
color:#66F;
text-align:center;
font-size:30pt;
font-family:"Comic Sans MS", cursive;
}
nav {
margin-left:center;
font-family:"Comic Sans MS", cursive;
}
img {
border:solid;
margin:5px;
padding:1.5px;
}
.errMsg {
background: #ff0000;
color: #fff;
font-weight: bold;
padding: 10px
}
fieldset { 
border:1px solid green;
alignment-adjust:central;
margin:left;
padding:0px 0px 0px 0px;
}

legend {
padding: 0.2em 0.5em;
border: 1px solid green;
color: green;
font-size: 90%;
text-align: center;
}
h1, h2, h3, h4, h5, h6, div, ul {
margin: 20px;
padding: 0px;
}
